{:paths ["src"]

 :deps
 {com.azure/azure-identity {:mvn/version "1.18.1"}
  com.azure/azure-security-keyvault-secrets {:mvn/version "4.11.2"}
  io.pedestal/pedestal.jetty {:mvn/version "0.6.5"}
  io.pedestal/pedestal.service {:mvn/version "0.6.5"}
  org.clojure/clojure {:mvn/version "1.12.6"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.36"}}}